.profil {
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.username {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    color: #f1f2f6;
}

.points {
    text-align: center;
    padding: 5px 20px;
    background: linear-gradient(0.25turn, #7bed9f, #f1f2f6);
    border-radius: 10px;
    color: #2f3542;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 14px;
}

.gameOne,
.gameTwo,
.gameThree,
.gameFour,
.gameFive,
.gameSix {
    display: grid;
    row-gap: 15px;
    column-gap: 15px;
}

.gameOne {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.gameTwo {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameThree {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.gameFour {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.gameFive {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.gameSix {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.gameContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    row-gap: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3em;
    color: #2f3542;
    border: 2px solid #747d8c;
    border-radius: 10px;
    padding: 40px 15px 15px 15px;
    background-color: #f1f2f6;
}

.button {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #7bed9f;
    color: #2f3542;
    border: 1px solid #747d8c;
    outline: none;
    box-shadow: 0px 0px 2px #2f3542;
}

.button:hover {
    transform: scale(1.02);
}

.logo {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    color: #2f3542;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #747d8c;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(0.25turn, #7bed9f, #f1f2f6);
    box-shadow: 0px 0px 5px #2f3542;
    overflow: visible;
    position: absolute;
    top: -20px;
}
