.profil {
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.level {
    text-align: center;
    padding: 5px 10px;
    background: linear-gradient(0.25turn, #7bed9f, #f1f2f6);
    border-radius: 10px;
    color: #2f3542;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 4px;
}

.points {
    text-align: center;
    padding: 5px 20px;
    background: linear-gradient(0.25turn, #7bed9f, #f1f2f6);
    border-radius: 10px;
    color: #2f3542;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 15px;
}

.gameOne,
.gameTwo,
.gameThree,
.gameFour,
.gameFive,
.gameSix {
    display: grid;
    row-gap: 15px;
    column-gap: 15px;
}

.gameOne {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.gameTwo {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameThree {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.gameFour {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.gameFive {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.gameSix {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.gameContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos {
    position: absolute;
    bottom: 40px;
    left: 40px
}

.button {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #747d8c;
    color: #2f3542;
    border: 1px solid #2f3542;
    outline: none;
}

.button:hover {
    transform: scale(1.02);
    background: linear-gradient(0.25turn, #7bed9f, #f1f2f6);
}
