.selectionable:hover, .active {
    transform: scale(1.02);
}

.active, .true, .false, .inactive, .selectionable {
    border-radius: 10px;
}

.inactive, .selectionable {
    background-color: #747d8c;
}

.true, .false, .active {
    box-shadow: 0px 0px 10px #f1f2f6;
}

.true, .active {
    background-color: #7bed9f;
}

.false {
    background-color: #ff4757;
}

.inactive {
    pointer-events: none;
}
